body {
  background-color: whitesmoke;
}

.container {
  min-width: 400px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  padding: 4px 8px;
  font-size: 13px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  column-gap: 8px;
}

.info {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

.red-flag {
  width: 20px;
  height: 20px;
}

.selected-values {
  font-size: 13px;
}

.notification-card {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  border-radius: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 8px;
  box-shadow: 0 2px 4px rgb(41 42 45), 0 2px 4px rgb(41 42 45);
}

.highlight-card {
  box-shadow: 0 -2px 6px rgb(230, 14, 14), 0 3px 6px rgb(230, 14, 14);
}

.loader {
  display: grid;
  place-self: center;
  width: 40px;
  height: 40px;
  border: 10px solid whitesmoke;
  border-radius: 50%;
  border-top: 10px solid rgb(41 42 45);
  animation: spin 1s linear infinite;
  margin-top: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
