.container {
  width: 100%;
  min-width: 450px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  padding: 4px 8px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  column-gap: 8px;
}

.info {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

.red-flag {
  width: 20px;
  height: 20px;
}

.selected-values {
  font-size: 13px;
}

.notifications {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  padding-top: 10px;
  border-top: 1px dashed rgb(41 42 45);
}

.notifications:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

.highlight {
  color: rgb(150, 1, 1);
  font-weight: 500;
}

.loader {
  display: grid;
  place-self: center;
  width: 40px;
  height: 40px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  animation: spin 1s linear infinite;
  margin-top: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
