@import '../../styles/variables.css';

body {
  color: var(--color-primary);
  font-size: var(--font-size-sm);
}

.container {
  min-width: 450px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  padding: 4px 8px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-lg);
  font-weight: 600;
}

.info {
  width: 25px;
  height: 25px;
  filter: opacity(0.6) drop-shadow(0 0 0 var(--color-primary));
}

.line-break {
  min-width: 450px;
  margin: 5px 0 0 0;
}

.notification-card {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  border-radius: var(--border-radius);
  margin-top: 5px;
  padding: 8px;
  box-shadow: 0 1px 2px var(--color-primary);
}

.notification-card:nth-of-type(2n) {
  background-color: var(--color-card-alt);
}

.highlight-card {
  background-color: var(--color-highlight) !important;
  color: whitesmoke;
}

.loader {
  width: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

.loader span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--color-primary);
  margin: 35px 5px;
}

.loader span:nth-child(1) {
  animation: bounce 1s ease-in-out infinite;
}

.loader span:nth-child(2) {
  animation: bounce 1s ease-in-out 0.33s infinite;
}

.loader span:nth-child(3) {
  animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce {
  0%,
  75%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-20px);
  }
}
